In [4]:
#create a list in lists
#[[0,1,2,3,4,5,6,7,8,9],[10,11,12,13,14,15,16,17,18,19],[20,21,22,23,24,25,26,27,28,29].....[90,91,92,93,94,95,96,97,98,99]]
#range(0,10)
#range(10,20)
#range(20,30)
#..........
#.........
#range(90,100)
#find the 7th row 6th element

In [3]:
out = []
for i in range(0,100,10):
    out.append(list(range(i,i+10)))
out[6][5]

65

In [1]:
# i/p:[27,24,56,12,19,30]
# o/p:[27,576,56,144,19,900]
a =[27,24,56,12,19,30]
for i in range(1,len(a),2):
    a[i] = a[i]*a[i]
a

[27, 576, 56, 144, 19, 900]

In [2]:
a=[27,24,56,12,19,30]
for i in range(len(a)):
    if i%2==1:
        a[i] = a[i] **2
a

[27, 576, 56, 144, 19, 900]

In [9]:
# i/p:[27,24,12,19,30]
# o/p:[27,576,144,19,900]
a =[27,24,12,19,30]
for i in range(1,len(a)):
    if (a[i] % 6) ==0: 
        a[i]=a[i]**2
a

[27, 576, 144, 19, 900]

In [10]:
a=[27,24,12,19,30]
b=[]
for i in range(len(a)):
    if (a[i]%6)==0:
        b.append(a[i]**2)
    else:
        b.append(a[i])
a

[27, 24, 12, 19, 30]

In [13]:
a=[27,24,12,19,30]
b=[]
for i in a:
    if (i%6)==0:
        b.append(i**2)
    else:
        b.append(i)
b

[27, 576, 144, 19, 900]

In [14]:
a=[27,24,12,19,30]
b=a
for i in range(len(a)):
    if (a[i]%6)==0:
        b[i]=b[i]**2
print(a)
print(b)

[27, 576, 144, 19, 900]
[27, 576, 144, 19, 900]

# Tuple
- empty tuple
- tuple with on element
- immutable
- operation on tuple

In [15]:
t1 = (1,34,67,3,7)

In [16]:
t=()
print(type(t))

<class 'tuple'>

In [17]:
t1=(1,34,67,3,7)
print(t1,type(t1))

(1, 34, 67, 3, 7) <class 'tuple'>

In [ ]:
print(t1)

In [18]:
s='ptyhon'
s[1]='y'

TypeError: 'str' object does not support item assignment

In [19]:
print(dir(t))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [20]:
t1.count(1)

1

In [21]:
print(t1)
print(t1.count(1))
print(t1.count(5))

(1, 34, 67, 3, 7)
1
0

In [22]:
print(t1)
print(t1.index(1))
print(t1.index(5))

(1, 34, 67, 3, 7)
0

ValueError: tuple.index(x): x not in tuple

In [23]:
t+t1

(1, 34, 67, 3, 7)

In [24]:
t2=(4,5)
t1+t2

(1, 34, 67, 3, 7, 4, 5)

In [25]:
t1*2

(1, 34, 67, 3, 7, 1, 34, 67, 3, 7)

In [26]:
t1==t2

False

In [27]:
t2>t1

True

In [28]:
(23,56)>(12,34,78)

True

# sets

In [ ]:
- unordered
-

In [29]:
s={45,78,45,7}
s

{7, 45, 78}

In [30]:
s1 = {}
type(s1)

dict

In [31]:
s1 = set()
print(type(s1))

<class 'set'>

In [33]:
unique = list(s)
unique

[45, 78, 7]

In [34]:
print(dir(s))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [35]:
help(s.difference)

Help on built-in function difference:

difference(...) method of builtins.set instance
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [36]:
s1 = {23,45,67,23,45,4}
s2 = {2,3,4,45,3,4}
s1.difference(s2)

{23, 67}

In [37]:
s1 = {23,45,67,23,45,4}
s2 = {2,3,4,45,3,4}
s3 = {100,2,3,45}
print(s1.difference(s2))
print(s2.difference(s1))
print(s1.difference(s1))

{67, 23}
{2, 3}
set()

In [44]:
# Read the input from keyboard
# i/p  "23 44 67 92 99"
# o/p : [3,4,7,2,9]
# Try the problem in two ways
    # to update the same list 
    # to create a new list
s = input()
nums = s.split()
out = []
for i in nums:
    out.append(int(i[-1]))
print(out)

23 44 67 92 99
[3, 4, 7, 2, 9]

In [46]:
s=input()
nums = s.split()
for i in range(len(nums)):
    nums[i] = int(nums[i][-1])
nums

23 44 67 92 99

[3, 4, 7, 2, 9]

In [55]:
# Read the inputs from keyboard
# i/p1: "10 20 30 60 99"
# i/p2: "7,6,9,11,9"
# o/p1: [3,2,3,5,0]
# o/p2 : [1,3,3,5,11]
l1 = input().split()
l2 = input().split()
print(l1)
print(l2)
out1=[]
out2=[]
for i in range(len(l1)):
    l1[i] = int(l1[i])
    l2[i] = int(l2[i])
    out1.append(l1[i]%l2[i])
    out2.append(l1[i]//l2[i])
print(out1)
print(out2)

10 20 30 60 99
7 6 9 11 9
['10', '20', '30', '60', '99']
['7', '6', '9', '11', '9']
[3, 2, 3, 5, 0]
[1, 3, 3, 5, 11]

In [8]:
# i/p1: "10 20 30 60 99"
# i/p2: "7 6 9 11 9"
# i/p3: "56,78,89 9 52"
#o/p [[10,20,30,60,99],[7,6,9,11,9],[56,78,89,9 52]
out = []
for i in range(3):
    a = input().split()
    for j in range(len(a)):
        a[j]=int(a[j])
    out.append(a)
out

10 20 30 60 99
7 6 9 11 9
56 78 89 9 52

[[10, 20, 30, 60, 99], [7, 6, 9, 11, 9], [56, 78, 89, 9, 52]]

In [82]:

# Get the input from keyboard How many names you want to read
# Read the names from keybord one by one. Store them in a list.
# update the same list with names as lowercase letters
# Get the names in a new list as output which starts with vowels
# Get the names in a new list which ends with consonants
# Get the names in a new list which will starts with vowels and ends with consonants
# Get the names in new list which will start with consonats and ends with vowel
# Get the names in a list which have length in range(5,10). Both 5 and 10 are inclusive
n=int(input())
names=[]
for i in range(n):
    names.append(input().lower())
for name in names:
    if name[0] in "aeiou" and name[-1] not in "aeiou":  :
        out.append

SyntaxError: invalid syntax (<ipython-input-82-08b8890437ac>, line 15)

In [22]:

out = []
for name in names:
    if len(names)>=5 and len(name)<=10:
        out.append(name)
out

[]

In [6]:
# Read the emails of a string from keyboard until the user enters 'done'.
# From the mails get the domin names of the mails in list
# example "ml.ai@gmail.com" , domain is "gmail.com" here
emails=[]
while True:
    email = input()
    if email == "done":
        break
    else:
        emails.append(email)
print(emails)

123@gmail.com
raj@gmail.com
bala@gmail.com
chandhu@yahoo.in
killer@yahoo.in
done
['123@gmail.com', 'raj@gmail.com', 'bala@gmail.com', 'chandhu@yahoo.in', 'killer@yahoo.in']

In [84]:
domains=[]
for i in range(len(emails)):
    domains.append(emails[i].split('@')[-1])
domains

NameError: name 'emails' is not defined

In [83]:
# how many emails are there with domain'gmail.com'
emails = ['123@gmail.com']
raj@gmail.com
bala@gmail.com
chandhu@yahoo.in
killer@yahoo.in
emails

SyntaxError: invalid syntax (<ipython-input-83-865e5a5a10fd>, line 5)

In [9]:

c=0
for i in range(len(emails)):
    if emails[i].split('@')[-1]=="gmail.com":
        c += 1
print(c)

3

In [10]:
# get the unique domain names from the list domain
unique_domains=[]
for i in domains:
    if i not in unique_domains:
        unique_domains.append(i)
unique_domains

['gmail.com', 'yahoo.in']

In [11]:
print(emails)
print(domains)
print(domains.count("gmail.com"))
print(unique_domains)

['123@gmail.com', 'raj@gmail.com', 'bala@gmail.com', 'chandhu@yahoo.in', 'killer@yahoo.in']
['gmail.com', 'gmail.com', 'gmail.com', 'yahoo.in', 'yahoo.in']
3
['gmail.com', 'yahoo.in']

In [13]:
print(domains.count("gmail.com"))
print(domains.count("yahoo.in"))

3
2

In [14]:
domains_count = []
for i in unique_domains:
    domains_count.append([i,domains.count(i)])
domains_count

[['gmail.com', 3], ['yahoo.in', 2]]

In [15]:
domains_count = []
for i in domains:
    domains_count.append([i,domains.count(i)])
domains_count

[['gmail.com', 3],
 ['gmail.com', 3],
 ['gmail.com', 3],
 ['yahoo.in', 2],
 ['yahoo.in', 2]]

In [ ]:
# Read the emails of a string from keyboard until the user enters 'done'.
# From the mails get the domin names of the mails in list
# example "ml.ai@gmail.com" , domain is "gmail.com" here
emails=[]
while True:
    email = input()
    emails.append(email)
    if email == "done":
        break
print(emails)

In [8]:
emails=[]
while True:
    email = input()
    if email == "done":
        emails.append(email)
        break
print(emails)

hi
hello
done
['done']

In [6]:
tuple([1,2,3])

(1, 2, 3)

In [21]:
s=input().split()
s[1]=int(s[1])
s[2]=int(s[2])
s1=[tuple(s[0:2]),s[2],s[3]]
s1

anjali 444 56 python

[('anjali', 444), 56, 'python']

In [26]:

# read the number of students from user
# Read the details of students into a list. Each sublist contains below details
    # studentName,RollNumber,Marks,Language in a single line
    # example "raj,416,56,python"
# Create a list in which 
    # each sublist conatains three elements
        # First element is a tuple contains name and roll number
        # second element is marks
        # third element is language 
# From the list get the  different languages avaialble in the data

In [61]:
n=int(input())
students=[]
for i in range(n):
    s=input().split()
    s[1]=int(s[1])
    s[2]=int(s[2])
    s1=[tuple(s[0:2]),s[2],s[3]]
    students.append(s1)
students

3
rakesh 345 56 python
raj 416 56 java
hari 678 67 c

[[('rakesh', 345), 56, 'python'],
 [('raj', 416), 56, 'java'],
 [('hari', 678), 67, 'c']]

In [62]:
languages=[]
for i in range(len(students)):
    languages.append(students[i][2])
languages

['python', 'java', 'c']

In [63]:
list(set(languages))

['java', 'c', 'python']

In [64]:
#get the marks of the student with roll number 678
for i in range(len(students)):
    if students[i][0][1]==678:
        print(students[i][1])

67

In [65]:
a=[45,667,678,92,62,46,78]
#get the index of value 678 without using index function
a.index(678)

2

In [66]:
for i in range(len(a)):
    if a[i]==678:
        print(i)

2

In [67]:
students[1][0][1]==678

False

In [68]:
for i in range(len(students)):
    if students[i][0][1]==678:
        print(students[i][1])

67

In [69]:
#marks with student name raj
for i in range(len(students)):
    if students[i][0][0]=="raj":
        print(students[i][1])

56

In [74]:
#languages with student roll number 678
for i in range(len(students)):
    if students[i][0][1]==678:
        print(students[i][2])

c

In [ ]:
#student roll numbers as a list wiyh language python
# Student roll numbers as a list with langauge python
py_users =[]
for i in range(len(students)):
    if students[i][2] == "python":
        py_users.append(students[i][0][1])
py_users

In [1]:
# read two lists from user. Two list conatins the names of students
# Get the names which are there in both lists
# Get the names which are there in alteast one list
# Get the names which are there in list1 not there in list2
# Get the names which are there in list2 not there in list1

In [ ]:
# Craete multipliaction table of a number
# Read the number from user
# Example :3
3 * 1 = 3
3 * 2 = 6
'''''''
''''''
3 * 10 = 30
# Later modify the code so that you can read the lower bound and upperbound for the table. 
# for the above case lowerbound is 1 and upper bound is 10

In [3]:
# take a list of numbers or names with repetetive values
# Get a list as output
    # each sublist has the number and how many times it is there in the list
# The ouput shoud be in sorted order based on count.
# If the count is equal different numbers. Sort them based on numbers
# Example : [23,45,23,77,67,45,45,2,3,3,2,3]
# output :[[3,3],[45,3],[2,2],[23,2],[67,1],[77,1]]
n=int(input())
l=[]
for i in range(n):
    l.sort()

5

In [4]:
l = list("anjali")
l.count('a')

2