In [1]:
import numpy as np
arr = np.arange(9).reshape(3,3)
print(arr)
arr[:,[1,0,2]]

[[0 1 2]
 [3 4 5]
 [6 7 8]]

array([[1, 0, 2],
       [4, 3, 5],
       [7, 6, 8]])

In [2]:
import numpy as np
def maxx(x, y):
    """Get the maximum of two items"""
    if x >= y:
        return x
    else:
        return y

pair_max= np.vectorize(maxx)

a = np.array([5, 7, 9, 8, 6, 4, 5])
b = np.array([6, 3, 4, 8, 9, 7, 1])
pair_max(a, b)

array([6, 7, 9, 8, 9, 7, 5])

In [3]:
# Not the proper way You should use return statement
def maxx(x, y):
    """Get the maximum of two items"""
    if x >= y:
        print(x)
    else:
        print(y)

pair_max= np.vectorize(maxx)

a = np.array([5, 7, 9, 8, 6, 4, 5])
b = np.array([6, 3, 4, 8, 9, 7, 1])
pair_max(a, b)

6
6
7
9
8
9
7
5

array([None, None, None, None, None, None, None], dtype=object)

In [5]:
!curl -o ex.ipynb https://raw.githubusercontent.com/sumathi16/numpy-100/master/100_Numpy_exercises_no_solution.ipynb

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 34014  100 34014    0     0  53146      0 --:--:-- --:--:-- --:--:-- 53146

In [7]:
import pandas as pd
pd.Series([1,2],index=["one","two"])

one    1
two    2
dtype: int64

In [1]:
!curl -o sample.csv https://raw.githubusercontent.com/sumathi16/Machine-Learning-March/master/sample.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100   114  100   114    0     0    152      0 --:--:-- --:--:-- --:--:--   152

In [4]:
import pandas as pd
data = pd.read_csv("sample.csv")
data

              name  salary  year
0      Raj Acharya   45000  2015
1      SaiTeja Ram   78000  2012
2    Hemendra Arya   32000  2018
3  Revanth Sundarm   15000  2019

In [5]:
data = pd.read_csv("https://raw.githubusercontent.com/sumathi16/Machine-Learning-March/master/sample.csv")
data

              name  salary  year
0      Raj Acharya   45000  2015
1      SaiTeja Ram   78000  2012
2    Hemendra Arya   32000  2018
3  Revanth Sundarm   15000  2019

In [6]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, doublequote=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read CSV (comma-separated) file into DataFrame

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the `online docs for IO Tools
    <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, pathlib.Path, py._path.local.LocalPath or any \
    object with a read() method (such as a file handle or StringIO)
        The string could be a URL. Valid URL schemes include http, ftp, s3, and
        file. For file URLs, a host is expected. For instance, a local file could
        be file://localhost/path/to/table.csv
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``
    delimiter : str, default ``None``
        Alternative argument name for sep.
    delim_whitespace : boolean, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'\t'``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    header : int or list of ints, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so header=0 denotes the first line of
        data rather than the first line of the file.
    names : array-like, default None
        List of column names to use. If file contains no header row, then you
        should explicitly pass header=None. Duplicates in this list will cause
        a ``UserWarning`` to be issued.
    index_col : int or sequence or False, default None
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider index_col=False to force pandas to _not_
        use the first column as the index (row names)
    usecols : list-like or callable, default None
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be [0, 1, 2] or ['foo', 'bar', 'baz']. Element
        order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : boolean, default False
        If the parsed data only contains one column then return a Series
    prefix : str, default None
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : boolean, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels
    true_values : list, default None
        Values to consider as True
    false_values : list, default None
        Values to consider as False
    skipinitialspace : boolean, default False
        Skip spaces after delimiter.
    skiprows : list-like or integer or callable, default None
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c')
    nrows : int, default None
        Number of rows of file to read. Useful for reading pieces of large files
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : boolean, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file
    verbose : boolean, default False
        Indicate number of NA values placed in non-numeric columns
    skip_blank_lines : boolean, default True
        If True, skip over blank lines rather than interpreting as NaN values
    parse_dates : boolean or list of ints or names or list of lists or dict, default False

        * boolean. If True -> try parsing the index.
        * list of ints or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call result
          'foo'

        If a column or index contains an unparseable date, the entire column or
        index will be returned unaltered as an object data type. For non-standard
        datetime parsing, use ``pd.to_datetime`` after ``pd.read_csv``

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : boolean, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : boolean, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, default None
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : boolean, default False
        DD/MM format dates, international and European format
    iterator : boolean, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, default None
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, default None
        Thousands separator
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    float_precision : string, default None
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.
    lineterminator : str (length 1), default None
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : boolean, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), default None
        One-character string used to escape delimiter when quoting is QUOTE_NONE.
    comment : str, default None
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, default None
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_
    dialect : str or csv.Dialect instance, default None
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : boolean, default False
        .. deprecated:: 0.21.0
           This argument will be removed and will always convert to MultiIndex

        Leave a list of tuples on columns as is (default is to convert to
        a MultiIndex on the columns)
    error_bad_lines : boolean, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : boolean, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    low_memory : boolean, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser)
    memory_map : boolean, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.

    Returns
    -------
    result : DataFrame or TextParser

In [7]:
data = pd.read_csv("sample.csv",header=None)
data

                 0       1     2
0             name  salary  year
1      Raj Acharya   45000  2015
2      SaiTeja Ram   78000  2012
3    Hemendra Arya   32000  2018
4  Revanth Sundarm   15000  2019

In [5]:
import pandas as pd
data = pd.read_csv("samplewithoutnames.csv")
data

       Raj Acharya  45000  2015
0      SaiTeja Ram  78000  2012
1    Hemendra Arya  32000  2018
2  Revanth Sundarm  15000  2019

In [6]:
data = pd.read_csv("samplewithoutnames.csv",header=None)
data

                 0      1     2
0      Raj Acharya  45000  2015
1      SaiTeja Ram  78000  2012
2    Hemendra Arya  32000  2018
3  Revanth Sundarm  15000  2019

In [7]:
data = pd.read_csv("samplewithoutnames.csv",header=None,names=['name','salary','year'])
data

              name  salary  year
0      Raj Acharya   45000  2015
1      SaiTeja Ram   78000  2012
2    Hemendra Arya   32000  2018
3  Revanth Sundarm   15000  2019

In [8]:
data = pd.read_csv("sample.tsv",sep='\t')
data

             name,salary,year
0      Raj Acharya,45000.2015
1      SaiTeja Ram,78000,2012
2    Hemendra Arya,32000,2018
3  Revanth Sundarm,15000,2019

In [10]:
data = pd.read_csv("sample.tsv",sep='\t',usecols=["name"])
data

ValueError: Usecols do not match columns, columns expected but not found: ['name']

In [11]:
data = pd.read_csv("sample.tsv",sep='\t',index_col =[2])
data

IndexError: list index out of range

In [2]:
import pandas as pd
FL_data = pd.read_csv("FL_insurance_sample.csv")
FL_data

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,Masonry,1.0
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,Masonry,3.0
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1.0
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3.0
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1.0
5,785275,FL,CLAY COUNTY,0.0,515035.62,0.0,0.0,515035.62,884419.17,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Masonry,3.0
6,995932,FL,CLAY COUNTY,0.0,19260000.00,0.0,0.0,19260000.00,20610000.00,0.0,0.0,0.0,0,30.102226,-81.713882,Commercial,Reinforced Concrete,1.0
7,223488,FL,CLAY COUNTY,328500.0,328500.00,328500.0,328500.0,328500.00,348374.25,0.0,16425.0,0.0,0,30.102217,-81.707146,Residential,Wood,1.0
8,433512,FL,CLAY COUNTY,315000.0,315000.00,315000.0,315000.0,315000.00,265821.57,0.0,15750.0,0.0,0,30.118774,-81.704613,Residential,Wood,1.0
9,142071,FL,CLAY COUNTY,705600.0,705600.00,705600.0,705600.0,705600.00,1010842.56,14112.0,35280.0,0.0,0,30.100628,-81.703751,Residential,Masonry,1.0
10,253816,FL,CLAY COUNTY,831498.3,831498.30,831498.3,831498.3,831498.30,1117791.48,0.0,0.0,0.0,0,30.102160,-81.719444,Residential,Masonry,1.0
11,894922,FL,CLAY COUNTY,0.0,24059.09,0.0,0.0,24059.09,33952.19,0.0,0.0,0.0,0,30.095957,-81.695099,Residential,Wood,1.0
12,422834,FL,CLAY COUNTY,0.0,48115.94,0.0,0.0,48115.94,66755.39,0.0,0.0,0.0,0,30.100073,-81.739822,Residential,Wood,1.0
13,582721,FL,CLAY COUNTY,0.0,28869.12,0.0,0.0,28869.12,42826.99,0.0,0.0,0.0,0,30.092480,-81.725167,Residential,Wood,1.0
14,842700,FL,CLAY COUNTY,0.0,56135.64,0.0,0.0,56135.64,50656.80,0.0,0.0,0.0,0,30.101356,-81.726248,Residential,Wood,1.0
15,874333,FL,CLAY COUNTY,0.0,48115.94,0.0,0.0,48115.94,67905.07,0.0,0.0,0.0,0,30.113743,-81.727463,Residential,Wood,1.0
16,580146,FL,CLAY COUNTY,0.0,48115.94,0.0,0.0,48115.94,66938.90,0.0,0.0,0.0,0,30.121655,-81.732391,Residential,Wood,3.0
17,456149,FL,CLAY COUNTY,0.0,80192.49,0.0,0.0,80192.49,86421.04,0.0,0.0,0.0,0,30.109537,-81.741661,Residential,Wood,1.0
18,767862,FL,CLAY COUNTY,0.0,48115.94,0.0,0.0,48115.94,73798.50,0.0,0.0,0.0,0,30.118240,-81.745335,Residential,Wood,3.0
19,353022,FL,CLAY COUNTY,0.0,60946.79,0.0,0.0,60946.79,62467.29,0.0,0.0,0.0,0,30.065799,-81.717416,Residential,Wood,1.0
20,367814,FL,CLAY COUNTY,0.0,28869.12,0.0,0.0,28869.12,42727.74,0.0,0.0,0.0,0,30.082993,-81.710581,Residential,Wood,1.0
21,671392,FL,CLAY COUNTY,0.0,13410000.00,0.0,0.0,13410000.00,11700000.00,0.0,0.0,0.0,0,30.091921,-81.711929,Commercial,Reinforced Concrete,3.0
22,772887,FL,CLAY COUNTY,0.0,1669113.93,0.0,0.0,1669113.93,2099127.76,0.0,0.0,0.0,0,30.117352,-81.711884,Residential,Masonry,1.0
23,983122,FL,CLAY COUNTY,0.0,179562.23,0.0,0.0,179562.23,211372.57,0.0,0.0,0.0,0,30.095783,-81.713181,Residential,Wood,3.0
24,934215,FL,CLAY COUNTY,0.0,177744.16,0.0,0.0,177744.16,157171.16,0.0,0.0,0.0,0,30.110518,-81.727478,Residential,Wood,1.0
25,385951,FL,CLAY COUNTY,0.0,17757.58,0.0,0.0,17757.58,16948.72,0.0,0.0,0.0,0,30.102880,-81.705719,Residential,Wood,1.0
26,716332,FL,CLAY COUNTY,0.0,130129.87,0.0,0.0,130129.87,101758.43,0.0,0.0,0.0,0,30.068468,-81.716240,Residential,Wood,1.0
27,751262,FL,CLAY COUNTY,0.0,42854.77,0.0,0.0,42854.77,63592.88,0.0,0.0,0.0,0,30.068468,-81.716240,Residential,Wood,1.0
28,633663,FL,CLAY COUNTY,0.0,785.58,0.0,0.0,785.58,662.18,0.0,0.0,0.0,0,30.068468,-81.716240,Residential,Wood,1.0
29,105851,FL,CLAY COUNTY,0.0,170361.91,0.0,0.0,170361.91,177176.38,0.0,0.0,0.0,0,30.068468,-81.716240,Residential,Wood,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13541,604815,FL,ORANGE COUNTY,497718.0,497718.00,497718.0,497718.0,497718.00,651562.63,0.0,0.0,0.0,0,28.455800,-81.470400,Residential,Masonry,4.0
13542,123581,FL,ORANGE COUNTY,1083600.0,1083600.00,1083600.0,1083600.0,1083600.00,1571881.00,0.0,0.0,0.0,0,28.490690,-81.507200,Residential,Masonry,1.0
13543,830561,FL,ORANGE COUNTY,418230.0,418230.00,418230.0,418230.0,418230.00,350434.92,0.0,0.0,0.0,0,28.480290,-81.505590,Residential,Masonry,1.0
13544,567945,FL,ORANGE COUNTY,0.0,277276.92,0.0,0.0,277276.92,418454.13,0.0,0.0,0.0,0,28.454367,-81.488457,Residential,Wood,1.0
13545,304010,FL,ORANGE COUNTY,0.0,14130000.00,0.0,14130000.0,14130000.00,15030000.00,0.0,0.0,0.0,0,28.442978,-81.421326,Commercial,Reinforced Concrete,3.0
13546,202453,FL,ORANGE COUNTY,0.0,19260000.00,0.0,19260000.0,19260000.00,35910000.00,0.0,0.0,0.0,0,28.436170,-81.425920,Commercial,Reinforced Concrete,1.0
13547,920181,FL,ORANGE COUNTY,0.0,19620000.00,0.0,19620000.0,19620000.00,29430000.00,0.0,0.0,0.0,0,28.436380,-81.427560,Commercial,Reinforced Concrete,3.0
13548,186980,FL,ORANGE COUNTY,0.0,8432564.40,0.0,8432564.4,8432564.40,9090000.00,0.0,0.0,0.0,0,28.447403,-81.421692,Commercial,Reinforced Masonry,3.0
13549,350034,FL,ORANGE COUNTY,0.0,2858963.40,0.0,2858963.4,2858963.40,2234388.54,0.0,0.0,0.0,0,28.444767,-81.420265,Commercial,Reinforced Masonry,3.0
13550,292859,FL,ORANGE COUNTY,0.0,19620000.00,0.0,19620000.0,19620000.00,24570000.00,0.0,0.0,0.0,0,28.434471,-81.426392,Commercial,Reinforced Concrete,1.0
13551,286864,FL,ORANGE COUNTY,0.0,681474.42,0.0,0.0,681474.42,574346.64,0.0,0.0,0.0,0,28.483410,-81.508492,Residential,Masonry,1.0
13552,820966,FL,ORANGE COUNTY,0.0,3941825.58,0.0,0.0,3941825.58,3309162.57,0.0,0.0,0.0,0,28.483410,-81.508492,Commercial,Reinforced Masonry,1.0
13553,756126,FL,ORANGE COUNTY,0.0,190479.96,0.0,0.0,190479.96,142269.48,0.0,0.0,0.0,0,28.483410,-81.508492,Residential,Wood,1.0
13554,617621,FL,ORANGE COUNTY,0.0,563467.50,0.0,563467.5,563467.50,730649.43,0.0,0.0,0.0,0,28.444750,-81.470802,Residential,Masonry,1.0
13555,950327,FL,ORANGE COUNTY,0.0,1905773.72,0.0,0.0,2382217.14,3328667.25,0.0,0.0,0.0,0,28.439680,-81.471770,Commercial,Reinforced Masonry,1.0
13556,796959,FL,ORANGE COUNTY,0.0,1391883.85,0.0,0.0,1739854.81,2167664.23,0.0,0.0,0.0,0,28.445100,-81.471680,Residential,Masonry,1.0
13557,270198,FL,ORANGE COUNTY,0.0,4534866.90,0.0,4533966.9,4534866.90,5652983.68,0.0,0.0,0.0,0,28.462442,-81.455307,Commercial,Reinforced Masonry,1.0
13558,809530,FL,ORANGE COUNTY,0.0,1656192.60,0.0,1656192.6,1656192.60,2028198.30,0.0,0.0,0.0,0,28.449400,-81.472210,Residential,Masonry,1.0
13559,474787,FL,ORANGE COUNTY,10530000.0,10530000.00,10530000.0,10530000.0,10530000.00,9450000.00,0.0,0.0,0.0,0,28.429353,-81.416406,Commercial,Reinforced Concrete,4.0
13560,260965,FL,ORANGE COUNTY,27000.0,27000.00,27000.0,27000.0,27000.00,43247.93,0.0,1350.0,0.0,0,28.455800,-81.470400,Residential,Wood,1.0
13561,613939,FL,ORANGE COUNTY,0.0,8094677.30,0.0,0.0,8094677.30,9180000.00,0.0,0.0,0.0,0,28.449894,-81.486732,Commercial,Reinforced Masonry,1.0
13562,508003,FL,ORANGE COUNTY,0.0,8050879.41,0.0,0.0,8050879.41,8691471.78,0.0,0.0,0.0,0,28.466682,-81.450508,Commercial,Reinforced Masonry,1.0
13563,638040,FL,ORANGE COUNTY,886592.7,886592.70,0.0,0.0,886592.70,1474580.98,0.0,0.0,0.0,0,28.458940,-81.470910,Residential,Masonry,1.0
13564,826497,FL,ORANGE COUNTY,226649.7,226649.70,0.0,0.0,226649.70,207901.24,0.0,0.0,0.0,0,28.414765,-81.476635,Residential,Wood,3.0
13565,137757,FL,ORANGE COUNTY,923010.3,923010.30,0.0,0.0,923010.30,938668.25,0.0,0.0,0.0,0,28.430323,-81.470467,Residential,Masonry,1.0
13566,906943,FL,ORANGE COUNTY,0.0,1566401.56,0.0,0.0,1566401.56,1321002.82,0.0,0.0,0.0,0,28.456340,-81.470120,Residential,Masonry,1.0
13567,758044,FL,ORANGE COUNTY,4791330.0,4791330.00,4791330.0,4791330.0,4791330.00,7512163.40,0.0,0.0,0.0,0,28.468555,-81.450493,Commercial,Reinforced Masonry,1.0
13568,387570,FL,ORANGE COUNTY,5133937.5,5133937.50,5133937.5,5133937.5,5133937.50,8120605.64,0.0,0.0,0.0,0,28.443203,-81.421188,Commercial,Reinforced Masonry,3.0
13569,310787,FL,ORANGE COUNTY,918000.0,918000.00,918000.0,918000.0,918000.00,875191.82,0.0,0.0,0.0,0,28.442978,-81.421326,Residential,Masonry,3.0
13570,522718,FL,ORANGE COUNTY,1349172.0,1349172.00,1349172.0,1349172.0,1349172.00,2115013.30,0.0,0.0,0.0,0,28.442978,-81.421000,NaN,NaN,NaN

In [3]:
print(FL_data.shape)
print(FL_data.shape[0])# No of rows
print(FL_data.shape[1]) # No of columns

(13571, 18)
13571
18

In [4]:
FL_data.columns

Index(['policyID', 'statecode', 'county', 'eq_site_limit', 'hu_site_limit',
       'fl_site_limit', 'fr_site_limit', 'tiv_2011', 'tiv_2012',
       'eq_site_deductible', 'hu_site_deductible', 'fl_site_deductible',
       'fr_site_deductible', 'point_latitude', 'point_longitude', 'line',
       'construction', 'point_granularity'],
      dtype='object')

In [5]:
FL_data.index

RangeIndex(start=0, stop=13571, step=1)

In [6]:
FL_data.policyID

0        119736
1        448094
2        206893
3        333743
4        172534
5        785275
6        995932
7        223488
8        433512
9        142071
10       253816
11       894922
12       422834
13       582721
14       842700
15       874333
16       580146
17       456149
18       767862
19       353022
20       367814
21       671392
22       772887
23       983122
24       934215
25       385951
26       716332
27       751262
28       633663
29       105851
          ...
13541    604815
13542    123581
13543    830561
13544    567945
13545    304010
13546    202453
13547    920181
13548    186980
13549    350034
13550    292859
13551    286864
13552    820966
13553    756126
13554    617621
13555    950327
13556    796959
13557    270198
13558    809530
13559    474787
13560    260965
13561    613939
13562    508003
13563    638040
13564    826497
13565    137757
13566    906943
13567    758044
13568    387570
13569    310787
13570    522718
Name: policyID, Length: 13571, dtype: int64

In [7]:
FL_data['policyID']

0        119736
1        448094
2        206893
3        333743
4        172534
5        785275
6        995932
7        223488
8        433512
9        142071
10       253816
11       894922
12       422834
13       582721
14       842700
15       874333
16       580146
17       456149
18       767862
19       353022
20       367814
21       671392
22       772887
23       983122
24       934215
25       385951
26       716332
27       751262
28       633663
29       105851
          ...
13541    604815
13542    123581
13543    830561
13544    567945
13545    304010
13546    202453
13547    920181
13548    186980
13549    350034
13550    292859
13551    286864
13552    820966
13553    756126
13554    617621
13555    950327
13556    796959
13557    270198
13558    809530
13559    474787
13560    260965
13561    613939
13562    508003
13563    638040
13564    826497
13565    137757
13566    906943
13567    758044
13568    387570
13569    310787
13570    522718
Name: policyID, Length: 13571, dtype: int64

In [8]:
print(type(FL_data['policyID']))

<class 'pandas.core.series.Series'>

In [9]:
FL_data[['policyID']]

       policyID
0        119736
1        448094
2        206893
3        333743
4        172534
5        785275
6        995932
7        223488
8        433512
9        142071
10       253816
11       894922
12       422834
13       582721
14       842700
15       874333
16       580146
17       456149
18       767862
19       353022
20       367814
21       671392
22       772887
23       983122
24       934215
25       385951
26       716332
27       751262
28       633663
29       105851
...         ...
13541    604815
13542    123581
13543    830561
13544    567945
13545    304010
13546    202453
13547    920181
13548    186980
13549    350034
13550    292859
13551    286864
13552    820966
13553    756126
13554    617621
13555    950327
13556    796959
13557    270198
13558    809530
13559    474787
13560    260965
13561    613939
13562    508003
13563    638040
13564    826497
13565    137757
13566    906943
13567    758044
13568    387570
13569    310787
13570    522718

[13571 rows x 1 columns]

In [10]:
FL_data[['policyID','statecode']]

       policyID statecode
0        119736        FL
1        448094        FL
2        206893        FL
3        333743        FL
4        172534        FL
5        785275        FL
6        995932        FL
7        223488        FL
8        433512        FL
9        142071        FL
10       253816        FL
11       894922        FL
12       422834        FL
13       582721        FL
14       842700        FL
15       874333        FL
16       580146        FL
17       456149        FL
18       767862        FL
19       353022        FL
20       367814        FL
21       671392        FL
22       772887        FL
23       983122        FL
24       934215        FL
25       385951        FL
26       716332        FL
27       751262        FL
28       633663        FL
29       105851        FL
...         ...       ...
13541    604815        FL
13542    123581        FL
13543    830561        FL
13544    567945        FL
13545    304010        FL
13546    202453        FL
13547    920181        FL
13548    186980        FL
13549    350034        FL
13550    292859        FL
13551    286864        FL
13552    820966        FL
13553    756126        FL
13554    617621        FL
13555    950327        FL
13556    796959        FL
13557    270198        FL
13558    809530        FL
13559    474787        FL
13560    260965        FL
13561    613939        FL
13562    508003        FL
13563    638040        FL
13564    826497        FL
13565    137757        FL
13566    906943        FL
13567    758044        FL
13568    387570        FL
13569    310787        FL
13570    522718        FL

[13571 rows x 2 columns]

In [11]:
FL_data.head() # first 5 rows

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,Masonry,1.0
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,Masonry,3.0
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1.0
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3.0
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1.0

In [12]:
FL_data.tail()

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
13566,906943,FL,ORANGE COUNTY,0.0,1566401.56,0.0,0.0,1566401.56,1321002.82,0.0,0.0,0.0,0,28.456340,-81.470120,Residential,Masonry,1.0
13567,758044,FL,ORANGE COUNTY,4791330.0,4791330.00,4791330.0,4791330.0,4791330.00,7512163.40,0.0,0.0,0.0,0,28.468555,-81.450493,Commercial,Reinforced Masonry,1.0
13568,387570,FL,ORANGE COUNTY,5133937.5,5133937.50,5133937.5,5133937.5,5133937.50,8120605.64,0.0,0.0,0.0,0,28.443203,-81.421188,Commercial,Reinforced Masonry,3.0
13569,310787,FL,ORANGE COUNTY,918000.0,918000.00,918000.0,918000.0,918000.00,875191.82,0.0,0.0,0.0,0,28.442978,-81.421326,Residential,Masonry,3.0
13570,522718,FL,ORANGE COUNTY,1349172.0,1349172.00,1349172.0,1349172.0,1349172.00,2115013.30,0.0,0.0,0.0,0,28.442978,-81.421000,NaN,NaN,NaN

In [13]:
FL_data.tail(3)

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
13568,387570,FL,ORANGE COUNTY,5133937.5,5133937.5,5133937.5,5133937.5,5133937.5,8120605.64,0.0,0.0,0.0,0,28.443203,-81.421188,Commercial,Reinforced Masonry,3.0
13569,310787,FL,ORANGE COUNTY,918000.0,918000.0,918000.0,918000.0,918000.0,875191.82,0.0,0.0,0.0,0,28.442978,-81.421326,Residential,Masonry,3.0
13570,522718,FL,ORANGE COUNTY,1349172.0,1349172.0,1349172.0,1349172.0,1349172.0,2115013.30,0.0,0.0,0.0,0,28.442978,-81.421000,NaN,NaN,NaN

In [14]:
FL_data.sample(4)

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
7505,889450,FL,OKALOOSA COUNTY,0.0,4550.05,0.0,0.0,4550.05,6054.11,0.0,0.0,0.0,0,30.761776,-86.570992,Residential,Wood,1.0
1292,204117,FL,BRADFORD COUNTY,4680.0,4680.00,4680.0,4680.0,4680.00,5827.61,0.0,93.6,0.0,0,29.943200,-82.098400,Residential,Wood,4.0
5428,896386,FL,JEFFERSON COUNTY,0.0,572364.54,0.0,0.0,572364.54,586806.44,0.0,0.0,0.0,0,30.544600,-83.848615,Residential,Masonry,1.0
6174,689051,FL,HOLMES COUNTY,0.0,7906928.36,0.0,0.0,7906928.36,8368692.97,0.0,0.0,0.0,0,30.802605,-85.684509,Commercial,Reinforced Masonry,1.0

In [15]:
FL_data.sample()

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
5225,808248,FL,WAKULLA COUNTY,0.0,12690000.0,0.0,0.0,12690000.0,15300000.0,0.0,0.0,0.0,0,30.08048,-84.3906,Commercial,Reinforced Concrete,1.0

In [16]:
data = pd.read_csv("sample.csv")

In [17]:
data

              name  salary  year
0      Raj Acharya   45000  2015
1      SaiTeja Ram   78000  2012
2    Hemendra Arya   32000  2018
3  Revanth Sundarm   15000  2019

In [18]:
FL_data.dtypes

policyID                int64
statecode              object
county                 object
eq_site_limit         float64
hu_site_limit         float64
fl_site_limit         float64
fr_site_limit         float64
tiv_2011              float64
tiv_2012              float64
eq_site_deductible    float64
hu_site_deductible    float64
fl_site_deductible    float64
fr_site_deductible      int64
point_latitude        float64
point_longitude       float64
line                   object
construction           object
point_granularity     float64
dtype: object

In [19]:
FL_data.policyID.dtype

dtype('int64')

In [20]:
FL_data.dtypes[0],FL_data.dtypes["policyID"]

(dtype('int64'), dtype('int64'))

In [21]:
FL_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13571 entries, 0 to 13570
Data columns (total 18 columns):
policyID              13571 non-null int64
statecode             13571 non-null object
county                13571 non-null object
eq_site_limit         13571 non-null float64
hu_site_limit         13571 non-null float64
fl_site_limit         13571 non-null float64
fr_site_limit         13571 non-null float64
tiv_2011              13571 non-null float64
tiv_2012              13571 non-null float64
eq_site_deductible    13571 non-null float64
hu_site_deductible    13571 non-null float64
fl_site_deductible    13571 non-null float64
fr_site_deductible    13571 non-null int64
point_latitude        13571 non-null float64
point_longitude       13571 non-null float64
line                  13570 non-null object
construction          13570 non-null object
point_granularity     13570 non-null float64
dtypes: float64(12), int64(2), object(4)
memory usage: 1.9+ MB

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
name      4 non-null object
salary    4 non-null int64
year      4 non-null int64
dtypes: int64(2), object(1)
memory usage: 176.0+ bytes

In [23]:
FL_data.dtypes.value_counts()

float64    12
object      4
int64       2
dtype: int64

In [24]:
FL_data.dtypes.value_counts()[0]

12

In [25]:
type(FL_data.dtypes.value_counts().index[0])

numpy.dtype

In [28]:
import numpy as np
type(np.float64)

type

In [27]:
FL_data.dtypes

policyID                int64
statecode              object
county                 object
eq_site_limit         float64
hu_site_limit         float64
fl_site_limit         float64
fr_site_limit         float64
tiv_2011              float64
tiv_2012              float64
eq_site_deductible    float64
hu_site_deductible    float64
fl_site_deductible    float64
fr_site_deductible      int64
point_latitude        float64
point_longitude       float64
line                   object
construction           object
point_granularity     float64
dtype: object

In [29]:
FL_data.dtypes==np.int64

policyID               True
statecode             False
county                False
eq_site_limit         False
hu_site_limit         False
fl_site_limit         False
fr_site_limit         False
tiv_2011              False
tiv_2012              False
eq_site_deductible    False
hu_site_deductible    False
fl_site_deductible    False
fr_site_deductible     True
point_latitude        False
point_longitude       False
line                  False
construction          False
point_granularity     False
dtype: bool

In [30]:
FL_data.dtypes[FL_data.dtypes==np.int64]

policyID              int64
fr_site_deductible    int64
dtype: object

In [31]:
FL_data.columns[FL_data.dtypes==np.int64]

Index(['policyID', 'fr_site_deductible'], dtype='object')